.container {
    padding: 24px;
    
}
.content{
    width: 450px;
    height: 450px;
    
    flex-direction: column;
    justify-content: space-around;
    
}
.btn {
    background-color: rgb(54, 54, 183);
    color: aliceblue;
    border-radius: 5px;
}
#add-btn{
    width: 100px;
}
#delete-btn{
    width: 100px;
}
#search-input{
    width: 280px;
}
.first-index{
    margin: 20px;
    
    display: flex;
    justify-content: space-between;
    
}
.second-index{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.contact-entry{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(211, 210, 210);
    margin: 20px;
    height: 35px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}